.tags*
.tmp
dist/*
!dist/_redirects
!/dist/demo-iframe.html
.DS_Store
yarn-error.log
cypress/videos
cypress/screenshots

node_modules/
.env
.env.local

# Local Netlify folder
.netlify

source/data
.next/**

.env.local

.contentlayer

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel
.aider*
