<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1" />

		<link
			rel="icon"
			type="image/svg+xml"
			href="/images/logo.svg"
		/>

		<meta
			name="description"
			content="<%= htmlWebpackPlugin.options.description %>"
			data-react-helmet="true"
		/>
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			data-react-helmet="true"
			content="<%= htmlWebpackPlugin.options.title %>"
		/>
		<meta
			property="og:description"
			data-react-helmet="true"
			content="<%= htmlWebpackPlugin.options.description %>"
		/>

		<meta property="og:image" content="https://futur.eco/images/logo.png" data-react-helmet="true"	/>

		<meta
			name="google-site-verification"
			content="oQ9gPKS4kocrCJP6CoguSkdIKKZ6ilZz0aQw_ZIgtVc"
		/>


		<meta property="twitter:card" content="summary_large_image" />

		<link rel="manifest" href="/manifest.webmanifest" />
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>

		<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
		<% } %>
		<meta name="theme-color" content="#3742fa" />
	</head>

	<body>

		<!-- USER AGENT DATA ATTRIBUTE  -->


		<!-- APP  -->
		<div id="js"></div>

		<script src="https://futur.eco/iframeResizer.contentWindow.min.js"></script>


	</body>
</html>
